<html>
<head th:replace="~{base :: head('Atualizar Filme')}"></head>
<body>

<div class="container">
    <div th:replace="~{base :: titulo('Atualizar Filme')}"></div>

    <div class="card mt-3">
        <form th:action="@{/update}" method="POST" th:object="${filme}" class="card-body">
            <div class="form-group">
                <input type="hidden" th:field="*{id}">
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input th:field="*{nome}" th:errorClass="is-invalid" class="form-control" placeholder="nome do filme" />
                <small>Informa qual o nome do filme.</small>
                <div class="invalid-feedback" th:errors="*{nome}">
                    Erros do nome do filme
                </div>
            </div>
            <div class="form-group">
                <label for="genero">Genero</label>
                <select th:field="*{genero}" th:errorClass="is-invalid" class="form-control form-select"  >
                    <option th:each="generos : ${T(com.ada.springtestfilmes.domain.Genero).values()}"
                            th:value="${generos}" th:text="${generos.label}"></option>
                </select>
                <small>Informa qual o genero do filme.</small>
                <div class="invalid-feedback" th:errors="*{genero}">
                    Erros no genero do filme
                </div>
            </div>
            <div class="form-group">
                <label for="ano">Ano</label>
                <input type="number" th:field="*{ano}"  th:errorClass="is-invalid" class="form-control"
                       placeholder="ano do filme"/>
                <small>Informa o ano de lançamento do filme.</small>
                <div class="invalid-feedback" th:errors="*{ano}">
                    Erros no ano do filme
                </div>
            </div>
            <div class="form-group">
                <label for="atores">Atores</label>
                <td>
                    <div th:each="ator, atorStat: *{atores}">
                        <select th:field="*{atores[__${atorStat.index}__]}" class="form-control form-select">
                            <option th:each="ator: ${atores}" th:value="${ator.id}"
                                    th:text="${ator.nome}" >
                            </option>
                        </select>
                    </div>
                </td>
                <small>Informe os atores do filme.</small>
            </div>
            <button class="btn btn-primary" type="submit" >Atualizar</button>
        </form>
    </div>
</div>
</body>
</html>