<html>
<head th:replace="~{base :: head('Cadastrar Ator')}"></head>
<body>

<div class="container">
    <div th:replace="~{base :: titulo('Cadastrar Ator')}"></div>

    <div class="card mt-3">
        <form action="#" th:object="${ator}" class="card-body" th:action="@{/save-ator}" method="POST">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input th:field="*{nome}" th:errorClass="is-invalid" class="form-control" placeholder="nome do ator"/>
                <small>Informa qual o nome do Ator.</small>
                <div class="invalid-feedback" th:errors="*{nome}">
                    Erros no nome do ator
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>